{
	"root": true,
	"env": {
		"browser": true,
		"node": true,
		"es6": true,
		"jquery": true
	},
	
	"rules": {
		"space-infix-ops":"error",
		"use-isnan":"warn",
		"valid-typeof":"error",
		"default-case":"warn",
		"camelcase":"error",
		"new-cap":"error",
		"no-empty-function":"warn",
		"no-redeclare":"error",
		"no-unused-vars":"error",
		"no-unused-expressions":"error",
		"no-trailing-spaces":"warn",
		"no-undefined":"error",
		"no-undef":"error",
		"no-mixed-spaces-and-tabs":["warn","smart-tabs"],
		"strict":["error", "global"],
		"eqeqeq":["error","always"],
		"indent": ["error", 2]
	}
} 