@font-face{
  font-family: Gasalt-Black;
  src: url(./fonts/Gasalt-Black.ttf)
}

*{
  font-family: Gasalt-Black;
}

body{
  width: 80%;
  margin: auto;
  text-align: center;
}

/* Home view section */
#home-view > form  > input {
  text-align: center;
}

/* Shame view section */
#shame-view{
  font-size: 150%;
  width: 50%;
  margin: auto;
  text-align: left;
  padding-left: 10%;
}

#shame-view > h2{
  font-size: 200%;
}
#shame-details{
  width:80%;
  margin-left: 5%;
}
#shame-details > h3{
  font-family: monospace;
  font-size: 200%;
  margin-top: -.5em;
  margin-bottom: -.25em;
}

#shame-details > p {
  font-size: 125%;
}

#stats{
  clear: both;
}

#stats > p > span{
float:right; 
}

/* Games view section */


#games-view{
  font-size: 150%
}

ol{
  padding-left: 10%;
}
ol > li {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

ol > li > article{
  text-align: left
}

article > * {
  display: inline-block;
  vertical-align: middle;
  padding: 1%;
}

article > img {
    width: 50%;
    max-width: 400px;
    min-width: 150px;
}

.page{
  display: none;
}
.error{
  display:none;
  color:orangered;
  font-size: 1em
}

nav{
  height: 10%;
  background-color: lightslategrey
}