@font-face{
  font-family: Gasalt-Black;
  src: url(./fonts/Gasalt-Black.ttf)
}

*{
  font-family: Gasalt-Black;
}

body{
  width: 80%;
  margin: auto;
  text-align: center;
}

/* .left-align{
  text-align: left;
  color: blue;
}
#stats{
  width: 50%;
  margin: auto;
} */

#shame-view{
  font-size: 150%;
}

#shame-details > h3{
  font-family: monospace;
  font-size: 200%;
  margin-top: -.5em;
  margin-bottom: -.25em;
}

#shame-details > p {
  font-size: 125%;
}

.page{
  display: none;
}
.error{
  display:none;
  color:orangered;
  font-size: 1em
}

nav{
  height: 10%;
  background-color: lightslategrey
}